@font-face {
  font-family: "alexbrush";
  src: url(../fonts/AlexBrush-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "allura";
  src: url(../fonts/Allura-Regular.otf) format("opentype"), url(../fonts/Allura-Regular-webfont.eot) format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-top: 1rem;
}
.header .header-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  padding-left: 0;
}
.header .header-navigation .nav-item {
  margin-left: 2rem;
  margin-right: 2rem;
}

main {
  background-image: url("./images/background.jpg");
}

body {
  margin: 0;
  padding: 0;
  font-size: 1.6em;
  font-family: "alexbrush, allura", cursive;
  color: #69402d;
}

a {
  text-decoration: none;
  color: #69402d;
}

a:hover {
  color: #a1068d;
  cursor: pointer;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  font-size: 0.8rem;
}

.footer1 {
  display: flex;
  flex-direction: row;
}

.footer2 {
  display: flex;
  flex-direction: row;
}

#listeProduit h2 {
  text-align: center;
  padding-bottom: 15px;
}

.banniere-presentation {
  background-image: url("./images/banniereTeddy.jpg");
  height: 570px;
  text-align: center;
}

.produit_contenant {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-top: 3px solid;
  border-color: #69402d;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-left: 0.8rem;
}

.produit_illustration {
  display: flex;
  flex-direction: column;
  margin: 5px;
  text-align: center;
  align-items: center;
}
.produit_illustration img {
  width: 250px;
  height: 145px;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.produit_illustration img:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}
.produit_illustration .produit_prix {
  font-size: 2rem;
}
.produit_illustration a {
  border: 0.3rem solid;
  padding: 1rem;
}

.legal-notice {
  text-align: justify;
  padding-left: 10px;
  padding-right: 10px;
}

#panier-recap,
#confirmation-recap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  align-content: center;
  vertical-align: middle;
  box-shadow: 0 0 1em #f5e6c6;
  border: 2px solid #69402d;
  background-color: #f3ead6;
  width: 80%;
}

.confirmation h2 {
  text-align: center;
}

.textConfirm {
  font-size: 1.3rem;
}

#orderId {
  color: green;
}

.formulaire_commande,
.recapitulatif {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formulaire_commande {
  border-top: 3px solid;
}

.commander {
  font-size: 1rem;
}
.commander:hover {
  cursor: pointer;
}

.recapitulatif {
  margin-bottom: 2rem;
}

.fas:hover {
  cursor: pointer;
}

.form-control {
  border-color: rgba(0, 0, 0, 0.4);
  box-shadow: none;
}

form {
  width: auto;
  box-shadow: 0 0 1em #f5e6c6;
  border: 2px solid #69402d;
  margin-bottom: 3rem;
  background-color: #f5e6c6;
}

.form-group {
  margin-left: 4rem;
  margin-right: 4rem;
  display: flex;
  flex-direction: column;
}

.paiement {
  margin-left: 1rem;
  margin-right: 1rem;
}

input:invalid,
textarea:invalid,
select:invalid {
  box-shadow: 0 0 5px 1px red;
}

input:focus:invalid {
  outline: none;
}

.cadre {
  width: 70%;
}

#name,
#email {
  width: 70%;
  margin: auto;
}

#choix_option {
  margin-bottom: 1rem;
  width: 100%;
}

.button_panier {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 2rem;
  margin-top: 2rem;
  padding-bottom: 2rem;
}
.button_panier a {
  border: 0.3rem solid;
  padding: 1rem;
}

#ajout_panier {
  margin-bottom: 1rem;
  font-size: 1.5rem;
}
#ajout_panier:hover {
  cursor: pointer;
  color: #a1068d;
}

#marron {
  color: #5f390e;
}

#sable {
  color: #fcc27f;
}

#noir {
  color: black;
}

/*# sourceMappingURL=style.css.map */
