#panier-recap,
  #confirmation-recap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    align-content: center;
    vertical-align: middle;
    box-shadow: 0 0 1em $color-information-price;
    border: 2px solid $color-primary;
    background-color: $color-background;
    width: 80%;
  }

  .confirmation h2 {
    text-align: center;
  }
  .textConfirm {
    font-size: 1.3rem;
  }
  #orderId {
    color: $color-valid;
  }
  #commander {
    margin-top: 15px;
    margin-bottom: 1rem;
    font-size: 2rem;
    font-family: $font-family;
    font-weight: bold;
    color: $color-primary;
    border :0.3rem solid;
    padding: 1rem;
    background-color: rgba(117, 190, 218, 0.0); /* 0.0 - transparent */
    &:hover {
      cursor: pointer;
      color: $color-hover;
      
    }
  }
 

  .totalValide{
    padding-top: 25px;
    color:$color-hover;
    text-decoration: underline;
    display: flex;
    justify-content: flex-end;
    width: 200%;
  }
