.formulaire_commande,
  .recapitulatif {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .formulaire_commande {
    border-top: 3px solid;
  }
  
  .commander {
    font-size: 1rem;
    &:hover {
      cursor: pointer;
    }
  }
  .recapitulatif {
    margin-bottom: 2rem;
  }
  .fas:hover {
    cursor: pointer;
  }
  
  .form-control {
    border-color: rgba(0, 0, 0, 0.4);
    box-shadow: none;
  }
  
  form {
    width: auto;
    box-shadow:  0 0 1em $color-information-price;
    border: 2px solid $color-primary;
    margin-bottom: 3rem;
    background-color: $color-information-price;
  }
  
  
  .form-group {
    margin-left: 4rem;
    margin-right: 4rem;
    display: flex;
    flex-direction: column;
  }
  
  .paiement {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  input:invalid,
  textarea:invalid,
  select:invalid {
    box-shadow: 0 0 5px 1px $color-invalid;
  }
  
  input:focus:invalid {
    outline: none;
  }
  
  .cadre {
    width: 70%;
  }
  
  #name,
  #email {
    width: 70%;
    margin: auto;
  }