
main {
    background-image: url("./images/background.jpg");}
body {
margin: 0;
padding: 0;
font-size: 1.6em;
font-family: $font-family, cursive;
color: $color-primary;
}
a {
text-decoration: none;
color: $color-primary;
}
a:hover {
color: $color-hover;
cursor: pointer;
}
