.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-top: 1rem;
        .header-navigation {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        list-style: none;
        padding-left: 0;
            .nav-item {
                margin-left: 2rem;
                margin-right: 2rem;
            } 
        }
    }